<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>已付款清单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/frame/layui-v2/css/layui.css}" media="all">
</head>
<body style="margin-right: 20px; margin-left: 20px;">

<div class="search_bar" style="margin-top: 20px">
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 100px">收款账户名：</label>
        <div class="layui-input-inline">
            <input class="layui-input" name="payee"  id="payee">
        </div>
        <label class="layui-form-label" style="width: 100px">收款账号：</label>
        <div class="layui-input-inline">
            <input class="layui-input" name="payeeAccount" id="payeeAccount">
        </div>
        <label class="layui-form-label" style="width: 100px">费用类型：</label>
        <div class="layui-input-inline">
            <select id="costType" class="layui-input" type="text">
            <option value="1" selected>佣金</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 100px">生成时间：</label>
        <div class="layui-input-inline">
            <input name="beginDate" id="beginDate" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" type="text">
        </div>
        <label class="layui-form-label" style="width: 10px;">~</label>
        <div class="layui-input-inline">
            <input name="endDate" id="endDate" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 100px">付款确认时间：</label>
        <div class="layui-input-inline">
            <input name="confirmBeginDate" id="confirmBeginDate" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" type="text">
        </div>
        <label class="layui-form-label" style="width: 10px;">~</label>
        <div class="layui-input-inline">
            <input name="confirmEndDate" id="confirmEndDate" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" type="text">
        </div>
        <button class="layui-btn" data-type="reload" style="margin-left: 20px;">查询</button>
        <button data-type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>

</div>
<!-- 自动渲染 -->
<table class="layui-table" lay-data="{url:'paymentManage/queryPaidData',method:'post', page:true, id:'finance'}" lay-filter="finance">
    <thead>
    <tr>
        <th lay-data="{align:'center',field:'seqNo',width:100}">序号</th>
        <th lay-data="{align:'center',field:'costTypeName'}">费用类型</th>
        <th lay-data="{align:'center',field:'payee'}">收款账户名</th>
        <th lay-data="{align:'center',field:'payeeBank',templet:'#adminIdTpl_guishu',minWidth:100}">收款银行</th>
        <th lay-data="{align:'center',field:'payeeAccount'}">收款账号</th>
        <th lay-data="{align:'center',field:'createTime'}">生成时间</th>
        <th lay-data="{align:'center',field:'confirmTime'}">付款确认时间</th>
        <th lay-data="{align:'center',field:'paidAmount'}">实付款金额</th>

    </tr>
    </thead>
</table>
</body>
<script th:src="@{/frame/layui-v2/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['table','laydate'], function() {
        var table = layui.table
         ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#beginDate'
        });
        laydate.render({
            elem: '#endDate'
        });
        laydate.render({
            elem: '#confirmBeginDate'
        });
        laydate.render({
            elem: '#confirmEndDate'
        });

        // 表格数据重载
        var $ = layui.$, active = {
            reload : function() {
                //执行重载
                table.reload('finance', {
                    page : {
                        curr : 1
                    },
                    where : {
                        payee:$('#payee').val(),
                        payeeAccount:$('#payeeAccount').val(),
                        costType:$('#costType').val(),
                        beginDate:$('#beginDate').val(),
                        endDate:$('#endDate').val(),
                        confirmBeginDate:$('#confirmBeginDate').val(),
                        confirmEndDate:$('#confirmEndDate').val()
                    }
                });
            },
            reset: function () {
                $('#payee').val("");
                $('#payeeAccount').val("");
                $('#beginDate').val("");
                $('#endDate').val("");
                $('#confirmBeginDate').val("");
                $('#confirmEndDate').val("");
            }
        };
        // 添加搜索点击事件监听
        $('.search_bar .layui-btn').on('click', function() {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        //监听工具条
        table.on('tool(finance)', function(obj){
        });


    });
</script>
<!-- 归属 模板 -->
<script type="text/html" id="adminIdTpl_guishu">
    {{# var $ = null;
    layui.use(['jquery',], function (args) {
    $ = layui.jquery;
    });
    var fn = function(){
    $.ajaxSetup({ async: false });
    var institutionName;
    var id=d.institutionId;
    $.post("institution/queryInstitution",{
    code:id,
    type:"0"
    }, function(data){
    institutionName=data.data[0].institutionName;
    });
    return institutionName;
    }; }}
    {{# d.institutionId=fn() }}
    {{d.institutionId}}
</script>
</html>