<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mkcloudadmin.mapper.mkcloud.MKCloudSmsSendLogMapper" >
  <resultMap id="BaseResultMap" type="mkcloudadmin.model.mkcloud.po.MKCloudSmsSendLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sms_type" property="smsType" jdbcType="VARCHAR" />
    <result column="mobile_num" property="mobileNum" jdbcType="VARCHAR" />
    <result column="header" property="header" jdbcType="VARCHAR" />
    <result column="body" property="body" jdbcType="VARCHAR" />
    <result column="send_success" property="sendSuccess" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sms_type, mobile_num, `header`, body, send_success, create_time, update_time, 
    is_delete, creator, updator, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mkcloud_sms_send_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from mkcloud_sms_send_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="mkcloudadmin.model.mkcloud.po.MKCloudSmsSendLog" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mkcloud_sms_send_log (sms_type, mobile_num, `header`, 
      body, send_success, create_time, 
      update_time, is_delete, creator, 
      updator, version)
    values (#{smsType,jdbcType=VARCHAR}, #{mobileNum,jdbcType=VARCHAR}, #{header,jdbcType=VARCHAR}, 
      #{body,jdbcType=VARCHAR}, #{sendSuccess,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{updator,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="mkcloudadmin.model.mkcloud.po.MKCloudSmsSendLog" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mkcloud_sms_send_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="smsType != null" >
        sms_type,
      </if>
      <if test="mobileNum != null" >
        mobile_num,
      </if>
      <if test="header != null" >
        `header`,
      </if>
      <if test="body != null" >
        body,
      </if>
      <if test="sendSuccess != null" >
        send_success,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="smsType != null" >
        #{smsType,jdbcType=VARCHAR},
      </if>
      <if test="mobileNum != null" >
        #{mobileNum,jdbcType=VARCHAR},
      </if>
      <if test="header != null" >
        #{header,jdbcType=VARCHAR},
      </if>
      <if test="body != null" >
        #{body,jdbcType=VARCHAR},
      </if>
      <if test="sendSuccess != null" >
        #{sendSuccess,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mkcloudadmin.model.mkcloud.po.MKCloudSmsSendLog" >
    update mkcloud_sms_send_log
    <set >
      <if test="smsType != null" >
        sms_type = #{smsType,jdbcType=VARCHAR},
      </if>
      <if test="mobileNum != null" >
        mobile_num = #{mobileNum,jdbcType=VARCHAR},
      </if>
      <if test="header != null" >
        `header` = #{header,jdbcType=VARCHAR},
      </if>
      <if test="body != null" >
        body = #{body,jdbcType=VARCHAR},
      </if>
      <if test="sendSuccess != null" >
        send_success = #{sendSuccess,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="mkcloudadmin.model.mkcloud.po.MKCloudSmsSendLog" >
    update mkcloud_sms_send_log
    set sms_type = #{smsType,jdbcType=VARCHAR},
      mobile_num = #{mobileNum,jdbcType=VARCHAR},
      `header` = #{header,jdbcType=VARCHAR},
      body = #{body,jdbcType=VARCHAR},
      send_success = #{sendSuccess,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      updator = #{updator,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>