<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mkcloudadmin.mapper.mkcloud.MKCloudInstitutionAttMapper" >
  <resultMap id="BaseResultMap" type="mkcloudadmin.model.mkcloud.po.MKCloudInstitutionAtt" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="institution_id" property="institutionId" jdbcType="BIGINT" />
    <result column="institution_code" property="institutionCode" jdbcType="VARCHAR" />
    <result column="attachment_type" property="attachmentType" jdbcType="VARCHAR" />
    <result column="attachment_name" property="attachmentName" jdbcType="BIGINT" />
    <result column="attachment_address" property="attachmentAddress" jdbcType="VARCHAR" />
    <result column="attachment_size" property="attachmentSize" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, institution_id, institution_code, attachment_type, attachment_name, attachment_address, 
    attachment_size, create_time, create_user, update_time, update_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mkcloud_institution_att
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from mkcloud_institution_att
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="mkcloudadmin.model.mkcloud.po.MKCloudInstitutionAtt" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mkcloud_institution_att (institution_id, institution_code, attachment_type, 
      attachment_name, attachment_address, attachment_size, 
      create_time, create_user, update_time, 
      update_user)
    values (#{institutionId,jdbcType=BIGINT}, #{institutionCode,jdbcType=VARCHAR}, #{attachmentType,jdbcType=VARCHAR}, 
      #{attachmentName,jdbcType=BIGINT}, #{attachmentAddress,jdbcType=VARCHAR}, #{attachmentSize,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="mkcloudadmin.model.mkcloud.po.MKCloudInstitutionAtt" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mkcloud_institution_att
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="institutionId != null" >
        institution_id,
      </if>
      <if test="institutionCode != null" >
        institution_code,
      </if>
      <if test="attachmentType != null" >
        attachment_type,
      </if>
      <if test="attachmentName != null" >
        attachment_name,
      </if>
      <if test="attachmentAddress != null" >
        attachment_address,
      </if>
      <if test="attachmentSize != null" >
        attachment_size,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="institutionId != null" >
        #{institutionId,jdbcType=BIGINT},
      </if>
      <if test="institutionCode != null" >
        #{institutionCode,jdbcType=VARCHAR},
      </if>
      <if test="attachmentType != null" >
        #{attachmentType,jdbcType=VARCHAR},
      </if>
      <if test="attachmentName != null" >
        #{attachmentName,jdbcType=BIGINT},
      </if>
      <if test="attachmentAddress != null" >
        #{attachmentAddress,jdbcType=VARCHAR},
      </if>
      <if test="attachmentSize != null" >
        #{attachmentSize,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mkcloudadmin.model.mkcloud.po.MKCloudInstitutionAtt" >
    update mkcloud_institution_att
    <set >
      <if test="institutionId != null" >
        institution_id = #{institutionId,jdbcType=BIGINT},
      </if>
      <if test="institutionCode != null" >
        institution_code = #{institutionCode,jdbcType=VARCHAR},
      </if>
      <if test="attachmentType != null" >
        attachment_type = #{attachmentType,jdbcType=VARCHAR},
      </if>
      <if test="attachmentName != null" >
        attachment_name = #{attachmentName,jdbcType=BIGINT},
      </if>
      <if test="attachmentAddress != null" >
        attachment_address = #{attachmentAddress,jdbcType=VARCHAR},
      </if>
      <if test="attachmentSize != null" >
        attachment_size = #{attachmentSize,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="mkcloudadmin.model.mkcloud.po.MKCloudInstitutionAtt" >
    update mkcloud_institution_att
    set institution_id = #{institutionId,jdbcType=BIGINT},
      institution_code = #{institutionCode,jdbcType=VARCHAR},
      attachment_type = #{attachmentType,jdbcType=VARCHAR},
      attachment_name = #{attachmentName,jdbcType=BIGINT},
      attachment_address = #{attachmentAddress,jdbcType=VARCHAR},
      attachment_size = #{attachmentSize,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>