<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/frame/layui-v2/css/layui.css}" media="all">
</head>
<body style="margin-right: 20px; margin-left: 20px;">

<div class="search_bar" style="margin-top: 20px">

    <div class="layui-form-item" style="margin-bottom: 3px;">
        <label class="layui-form-label" style="width: 100px">用户编码：</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="userId" placeholder="请输入用户编码">
        </div>
        <label class="layui-form-label" style="width: 100px;"> 用户姓名：</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="userLoginName" placeholder="请输入用户姓名">
        </div>
        <label class="layui-form-label" style="width: 100px">状态：</label>
        <div class="layui-input-inline">
            <select id="status" class="layui-input" >
                <option value="">--请选择--</option>
                <option value="1">有效</option>
                <option value="0">失效</option>
            </select>
        </div>
    </div>
    <br/>
    <div class="layui-input-block">
        <button class="layui-btn" data-type="reload" style="margin-left: 20px;">查询</button>
        <button data-type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
    <br/>
    <button class="layui-btn layui-btn-normal add_button">新增</button>
 <!--   <button class="layui-btn layui-btn-normal add_button">密码重置</button>-->
</div>
<!-- 自动渲染 -->
<table class="layui-table" lay-data="{url:'operator/queryOperatorInfo?',method:'get', page:true, id:'mkcloud'}" lay-filter="mkcloud">
    <thead>
    <tr>
        <th lay-data="{align:'center',field:'userId',width:70}">用户编码</th>
        <th lay-data="{align:'center',field:'userLoginName'}">登录名</th>
        <th lay-data="{align:'center',field:'userName'}">用户姓名</th>
        <th lay-data="{align:'center',field:'statusName'}">状态</th>
        <th lay-data="{align:'center',field:'createTime'}">创建日期</th>
        <th lay-data="{align:'center',field:'creator'}">创建人</th>
        <th lay-data="{align:'center', toolbar: '#barDemo'}">操作</th>
    </tr>
    </thead>
</table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="maint">维护</a>
    <!--  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="userrole">分配角色</a>
</script>
</body>
<script th:src="@{/frame/jquery.min.js}" charset="utf-8"></script>
<script th:src="@{/frame/layui-v2/layui.js}" charset="utf-8"></script>
<script>
    layui.use('table', function() {
        var table = layui.table;

        // 表格数据重载
        var $ = layui.$, active = {
            reload : function() {
                //执行重载
                table.reload('mkcloud', {
                    page : {
                        curr : 1
                    },
                    where : {
                        userId : $('#userId').val(),
                        userLoginName : $('#userLoginName').val(),
                        statusCode : $('#status').val()
                    }
                });
            },
            reset: function () {
                $('#userId').val("");
                $('#userLoginName').val("");
                $('#status').val("")
            }
        };
        // 添加搜索点击事件监听
        $('.search_bar .layui-btn').on('click', function() {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        //监听工具条
        table.on('tool(mkcloud)', function(obj){
            var data = obj.data;
            var id = data.id;
            //alert(data.id);
            if(obj.event === 'detail'){
                layer.msg('seqNo：'+ data.seqNo + ' 的删除操作');
            } else if(obj.event === 'del'){
                layer.confirm('是否确定删除数据？', {
                    btn: ['确认','取消'] //按钮
                }, function(){
                    $.ajax({
                        url:'creditCardProduct/delCreditCardProductData',
                        type:'post',
                        dataType:'json',
                        data:{
                            businessPeopleId:id
                        },
                        success:function (res) {
                            if(res.code >0){
                                layer.alert('删除失败');
                            }else {
                                layer.msg(status.msg,{
                                    icon:1,
                                    offset: 'rb',//右下角弹出
                                    title: false,//不显示标题
                                    closeBtn: 0, //不显示关闭按钮
                                    shade: [0],//不显示遮罩层
                                    time: 2000, //2秒后自动关闭
                                    anim: 4,//动画效果
                                });
                                layui.table.reload('mkcloud'); //更新成功刷新当前数据表格 分页默认为当前页

                            }
                        },
                        error:function (res) {
                            layer.alert('网络错误!');
                        }
                    });
                });
            } else if(obj.event === 'maint'){
                layer.open({
                    type: 2
                    ,offset: 'auto'
                    ,id: 'saveAuto'
                    ,content: ['page?page=updateusermanagement']
                    ,title: '维护'
                    ,shade: 0.5
                    ,area: ['800px', '500px']
                    ,success: function(layero, index){
                        //  var iframe = window['layui-layer-iframe'+index];
                        var pIframe = $('iframe')[0].contentWindow.document;//找到上一级父页面
                        var subForm = $(pIframe).find('#editFormupdate');//在父页面里找到editForm表格，这个Id为所编辑form的ID值
                        if(data.statusCode=="1"){
                            subForm.find('#validate').prop("checked",true);
                        }else {
                            subForm.find('#invalidate').prop("checked",true);
                        }
                        subForm.find('#opMethod').val("edit");
                        subForm.find('#id').val(data.id);
                        subForm.find('#userId').val(data.id);
                        subForm.find('#userLoginName').val(data.userLoginName);
                        subForm.find('#userName').val(data.userName);
                        subForm.find('#email').val(data.email);
                        subForm.find('#orgCode').val(data.orgCode);
                        subForm.find('#statusCode').val(data.statusCode);

                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        iframeWin.queryUserTest();

                    }
                    ,end: function () {
                        //location.reload();
                        $(".layui-laypage-btn")[0].click();

                    }
                });
            }else if(obj.event === 'userrole'){
                layer.open({
                    type: 2
                    ,offset: 'auto'
                    ,id: 'saveAuto'
                    ,content: ['page?page=userassignrolesmanagement']
                    ,title: '分配角色'
                    ,shade: 0.5
                    ,area: ['500px', '500px']
                    ,success: function(layero, index){
                        //  var iframe = window['layui-layer-iframe'+index];
                        var pIframe = $('iframe')[0].contentWindow.document;//找到上一级父页面
                        var body = layer.getChildFrame('body',index);
                        // var subForm = $(pIframe).find('#editForm');//在父页面里找到editForm表格，这个Id为所编辑form的ID值
                        body.find('#id').val(data.id);
                        body.find('#orgCode').val(data.orgCode);
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        iframeWin.queryUserId(data.id,data.orgCode);
                    }
                    ,end: function () {
                        //location.reload();
                        $(".layui-laypage-btn")[0].click();
                    }
                });
            }
        });
        $('.add_button').on('click',function (){
            layer.open({
                type: 2
                ,offset: 'auto'
                ,id: 'saveAuto'
                ,content: ['page?page=addusermanagement']
                ,title: '新增'
                ,shade: 0.5
                ,area: ['800px', '450px']
                ,success: function(layero, index){
                    var pIframe = $('iframe')[0].contentWindow.document;//找到上一级父页面
                    var subForm = $(pIframe).find('#editForm');//在父页面里找到editForm表格，这个Id为所编辑form的ID值
                    subForm.find('#opMethod').val("add");
                }
                ,end: function () {
                    //location.reload();
                    $(".layui-laypage-btn")[0].click();
                }
            });
        });
    });
</script>
</html>