<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mkcloudadmin.mapper.mkcloud.FinanceLoanDetailMapper" >

  <select id="selectByProductIdList" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from finance_loan_detail
    where product_id in
    <foreach item="productId" collection="productIds" open="(" close=")" separator=",">
      #{productId,jdbcType=BIGINT}
    </foreach>
  </select>
  <select id="selectByProductId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from finance_loan_detail
    where product_id = #{productId,jdbcType=BIGINT}
  </select>
  <!--逻辑删除-->
  <update id="deleteLogicByPrimaryKey" parameterType="java.lang.Long" >
    update finance_loan_detail
    set is_delete = 1
    where product_id = #{productId,jdbcType=BIGINT}
  </update>

  <update id="updateByProductIdSelective" parameterType="mkcloudadmin.model.mkcloud.po.FinanceLoanDetail" >
    update finance_loan_detail
    <set >
      <if test="mark1 != null" >
        mark1 = #{mark1,jdbcType=VARCHAR},
      </if>
      <if test="mark2 != null" >
        mark2 = #{mark2,jdbcType=VARCHAR},
      </if>
      <if test="amountScope != null" >
        amount_scope = #{amountScope,jdbcType=VARCHAR},
      </if>
      <if test="dateScope != null" >
        date_scope = #{dateScope,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
</mapper>