<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mkcloudadmin.mapper.mkcloud.FinanceUserBankCardInfoMapper">
    <select id="selectDefaultBankCard" resultMap="BaseResultMap" parameterType="java.util.List">
        select
        <include refid="Base_Column_List"/>
        from finance_user_bank_card_info
        where user_id in
        <foreach collection="list" index="index" item="user_id" open="(" separator="," close=")">
            #{user_id}
        </foreach>
        and is_default = 1
    </select>
    <select id="selectDefaultCardLikeFirstName" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    select 
	    <include refid="Base_Column_List" />
	    from finance_user_bank_card_info
	    where is_default = 1 and account_name like CONCAT(#{firstName,jdbcType=VARCHAR}, '%')
  	</select>
</mapper>