<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mkcloudadmin.mapper.mkcloud.MKCloudBankImportDetailMapper" >
  <select id="queryFeedbackBankDetailCount" resultType="java.lang.Long">
    SELECT count(*)
    FROM mkcloud_bank_import_detail where is_delete = 0
    <if test="method !='' and method !=null">
      AND batch_id = #{method,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectByBatchId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from mkcloud_bank_import_detail where 1=1
    <if test="method !='' and method !=null">
      AND batch_id = #{method,jdbcType=VARCHAR}
    </if>
    <include refid="base.limit" />
  </select>

  <delete id="delFeedBackInfoImportDataByBatchId" parameterType="java.lang.String" >
    delete from mkcloud_bank_import_detail
    where batch_id = #{batchId,jdbcType=VARCHAR}
  </delete>

  <select id="selectAllDataByBatchId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mkcloud_bank_import_detail
    where
    batch_id = #{batchId,jdbcType=VARCHAR}
  </select>

  <!--多条件查询条数-->
  <select id="queryBackCount" resultType="java.lang.Long">
    SELECT
        COUNT(1)
    FROM
        mkcloud_bank_import_detail
    WHERE
        is_delete = 0
    <if test="applyProduct != null and applyProduct !=''">
      AND product_name = #{applyProduct,jdbcType=VARCHAR}
    </if>
    <if test="applyName != null and applyName !=''">
      AND cus_name = #{applyName,jdbcType=VARCHAR}
    </if>
    <if test="applyMobile != null and applyMobile !=''">
      AND cus_tel = #{applyMobile,jdbcType=VARCHAR}
    </if>
    <if test="batchId != null and batchId !=''">
      AND batch_id = #{batchId,jdbcType=VARCHAR}
    </if>
    <if test="businessPeopleCode != null and businessPeopleCode !=''">
      AND business_people_code = #{businessPeopleCode,jdbcType=VARCHAR}
    </if>
    <if test="businessPeopleName != null and businessPeopleName !=''">
      AND business_people_name = #{businessPeopleName,jdbcType=VARCHAR}
    </if>
    <if test="applyBeginDate != null and applyBeginDate !=''">
      AND apply_card_date >= #{applyBeginDate,jdbcType=VARCHAR}
    </if>
    <if test="applyEndDate != null and applyEndDate !=''">
      AND apply_card_date &lt;= #{applyEndDate,jdbcType=VARCHAR}
    </if>
  </select>

  <!--反馈记录条件查询-->
  <select id="queryBackRecord" resultMap="BaseResultMap">
    SELECT
        id, batch_id, apply_id, cus_name, cus_tel, cus_id_no, institution_name,
        product_name, apply_card_date, audit_status, business_people_code,
        business_people_name, commission, in_commission, out_commission,out_commission_2,out_commission_3
    FROM
        mkcloud_bank_import_detail
    WHERE
        is_delete = 0
    <if test="applyProduct != null and applyProduct !=''">
      AND product_name = #{applyProduct,jdbcType=VARCHAR}
    </if>
    <if test="applyName != null and applyName !=''">
      AND cus_name = #{applyName,jdbcType=VARCHAR}
    </if>
    <if test="applyMobile != null and applyMobile !=''">
      AND cus_tel = #{applyMobile,jdbcType=VARCHAR}
    </if>
    <if test="batchId != null and batchId !=''">
      AND batch_id = #{batchId,jdbcType=VARCHAR}
    </if>
    <if test="businessPeopleCode != null and businessPeopleCode !=''">
      AND business_people_code = #{businessPeopleCode,jdbcType=VARCHAR}
    </if>
    <if test="businessPeopleName != null and businessPeopleName !=''">
      AND business_people_name = #{businessPeopleName,jdbcType=VARCHAR}
    </if>
    <if test="applyBeginDate != null and applyBeginDate !=''">
      AND apply_card_date >= #{applyBeginDate,jdbcType=VARCHAR}
    </if>
    <if test="applyEndDate != null and applyEndDate !=''">
      AND apply_card_date &lt;= #{applyEndDate,jdbcType=VARCHAR}
    </if>
    <include refid="base.limit" />
  </select>

  <select id="selectAllCountByBusinessPeopleCode" resultType="java.lang.Long">
    SELECT count(id)
    FROM mkcloud_bank_import_detail where is_delete = 0
      AND business_people_code = #{businessPeopleCode,jdbcType=VARCHAR}
  </select>

  <select id="selectMonthCountByBusinessPeopleCode" resultType="java.lang.Long">
    SELECT count(id)
    FROM mkcloud_bank_import_detail where is_delete = 0
    AND business_people_code = #{businessPeopleCode,jdbcType=VARCHAR}
    AND create_time > #{businessPeopleCode,jdbcType=VARCHAR}
    AND create_time &lt; #{businessPeopleCode,jdbcType=VARCHAR}
  </select>

  <select id="selectByApplyId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mkcloud_bank_import_detail
    where
    apply_id = #{applyId,jdbcType=VARCHAR}
  </select>


  <select id="selectByBankImportDetail" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mkcloud_bank_import_detail
    <include refid="base.limit" />
  </select>

  <select id="selectByBankCount" resultType="java.lang.Integer">
    select   count(id)
    from mkcloud_bank_import_detail
  </select>

  <select id="queryTotalCommission" resultType="java.math.BigDecimal">
    SELECT SUM(commission) FROM mkcloud_bank_import_detail WHERE is_delete = '0' AND audit_status = '成功'
  </select>
  <select id="queryNaturalTotal" resultType="java.math.BigDecimal">
    SELECT SUM(commission) FROM mkcloud_bank_import_detail WHERE is_delete = '0' AND audit_status = '成功' AND (business_people_code IS NULL OR business_people_code ='')
  </select>
  <select id="queryRecommendTotal" resultType="java.math.BigDecimal">
    SELECT SUM(commission) FROM mkcloud_bank_import_detail WHERE is_delete = '0' AND audit_status = '成功' AND (business_people_code IS NOT NULL AND business_people_code !='')
  </select>
  <select id="queryPromotersTotal" resultType="java.math.BigDecimal">
    SELECT SUM(out_commission) FROM mkcloud_bank_import_detail WHERE is_delete = '0' AND audit_status = '成功' AND (business_people_code IS NOT NULL AND business_people_code !='')
  </select>

</mapper>