<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>分佣明细</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/frame/layui-v2/css/layui.css}" media="all">
</head>
<body style="margin-right: 20px; margin-left: 20px;">

<div class="search_bar" style="margin-top: 20px">
    <div class="layui-inline">
    <input type="hidden" class="layui-input" name="search_businessPeopleId" id="search_businessPeopleId"/>
    <input type="hidden" class="layui-input"  name="search_settlementId" id="search_settlementId"/>
    <input type="hidden" class="layui-input" name="search_state" id="search_state"/>
    </div>
   <!-- <div class="layui-inline">
        &lt;!&ndash;<input type="hidden" name="search_businessPeopleId" id="search_businessPeopleId"/>
        <input type="hidden" name="search_settlementId" id="search_settlementId"/>
        <input type="hidden" name="search_state" id="search_state"/>&ndash;&gt;
    </div>&emsp;-->
    <!--<button class="layui-btn" data-type="reload" style="margin-left: 20px;">查询</button>-->
</div>
<!--<form id="editForm" class="layui-form"  onsubmit="return false"  style="margin:20px 10px;">
    &lt;!&ndash;<input type="hidden" name="search_businessPeopleId" id="search_businessPeopleId"/>
    <input type="hidden" name="search_settlementId" id="search_settlementId"/>
    <input type="hidden" name="search_state" id="search_state"/>&ndash;&gt;
</form>-->



<!-- 自动渲染 -->
<table class="layui-table" lay-data="{url:'commissionManage/queryCommissionManageDetail',method:'post', page:true, id:'finance'}" lay-filter="finance">
    <thead>
    <tr>
        <th lay-data="{align:'center',field:'seqNo',width:60}">序号</th>
        <th lay-data="{align:'center',field:'applyName'}">客户姓名</th>
        <th lay-data="{align:'center',field:'applyMobile'}">客户手机号</th>
        <th lay-data="{align:'center',field:'applyProduct'}">产品名称</th>
        <th lay-data="{align:'center',field:'commissionCreateDate'}">佣金生成时间</th>
        <th lay-data="{align:'center',field:'commissionAmount'}">分佣金额</th>

    </tr>
    </thead>
</table>
</body>
<script th:src="@{/frame/layui-v2/layui.js}" charset="utf-8"></script>
<script>
    layui.use('table', function() {
        var table = layui.table;

        // 表格数据重载
        var $ = layui.$, active = {
            reload : function() {
                //执行重载
                table.reload('finance', {
                    page : {
                        curr : 1
                    },
                    where : {
                        businessPeopleId : $('#search_businessPeopleId').val(),
                        settlementId : $('#search_settlementId').val(),
                        state : $('#search_state').val()
                    }
                });
            }
        };

      /*  $(function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';

           // $(".search_bar").click();
           // $(".layui-laypage-btn")[0].click();
            layui.table.reload('finance');
        })*/
        // 添加搜索点击事件监听
        $('.search_bar .layui-btn').on('click', function() {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        $(function(){
            layui.table.reload('finance');
        }



    });
</script>
</html>